body{
    margin: 0;
}

#navegacao{
    display: none;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 17vh;
    padding: 10px;
    background-color: rgba(226, 139, 99, 0.5);
}

header h1{
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
    margin: 0;
    height: 35px;
    line-height: 30px;
    width: 50vw;
}

header>div{
    position: relative;
    width: 7px;
    height: 22px;
}

.produto img{
    height: 140px;
    width: 140px;
    border: 2px solid rgb(228, 228, 228);
   
}

.vendas{
    display: flex;
    justify-content: space-around;
    padding: 7px;


}
@media screen and (min-width:){
    header>div{
        display: none;
    }

    #navegacao{
        display: block;
    }

    #navegacao>div{
        position: relative;
    }

    #navegacao input{
        display: none;
    }

}

.search.icon {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .search.icon:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: currentColor;
  }

.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}
.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}
.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}